body{
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.body{
    position: relative;
    width: 50%;
    height: auto;
}
@media screen  and (min-width: 850px){
    .body{
        width: 839px;
    }
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}
.logo>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.logo>div:first-child{
    width: 60px;
    height: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
nav{
    position: relative;
    width: 65%;
}
nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}
nav>ul>li{
    list-style: none;
}
a{
    text-decoration: none;
}
nav>ul>li>h1>a{
    text-decoration: none;
    color: black;
    font-size: 23px;
}
.accueil{
    color: red;
    text-decoration: underline;
}

.line{
    display: flex;
    flex-direction: row;
}
.line>hr{
    height: 0.5px;
    width: 15px;
}

/* /////////////////////////////////////////////// /*/

.background-image{
    width: 100%;
    height: 25vh;
    background-image: url(images/image5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.background-image>div{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #222222;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.background-image>div>div{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background-image>div>button{
    margin-right: 0.8em;
    background-color: red;
    width: 140px;
    border-radius: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-size: 17px;
}
.background-image>div>button:hover{
    cursor: pointer;
}

/* ////////////////////////////////////////////////////////////////// */

.article{
    position: relative;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.title>img{
    width: 50px;
    height: 50px;
}
.article-first{
    position: relative;
    width: 64%;
    height: auto;
    text-align: justify;
    font-size: 14px;
}
.article-first>div>p>a{
    color: red;
    text-decoration:underline;
}
.article-second{
    position: relative;
    width: 34%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article-second>div{
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(13,18,18,0.7);
    border-radius: 15px;
    color: white;
}
.article-second>div>p{
    text-align: justify;
}
.article-second-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reseau-sociaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.article-second>i{
    position: relative;
    top: 178px;
    margin-left: -10px;
    font-size: 28px;
    color: rgba(13,18,18,0.7);
}
/* ////////////////////////////////////////////////// */

.footer{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-div3>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-div3>div>div{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.footer-div3>div>div>a{
    color: red;
}
.footer-images>img{
    border: 2px solid black;
}

/* //////////////////////////////////////////////////// */

@media screen  and (min-width: 790px) and (max-width: 850px){
    .body{
        width: 780px;
    }
}
@media screen  and (max-width: 789px){
    .body{
        width: 100%;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        justify-items: center;
    }
    .logo{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-self: center;
        justify-content: space-around;
    }
    nav{
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
    }
    .background-image>div{
        height: auto;
    }
    .article{
        height: auto;
        position: relative;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .article-first{
        width: 95%;
    }
    .article-second{
        width: 80%;
    }
    .footer{
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        /* align-items: center; */
        text-align: justify;
        padding-left: 10%;
    }
    .footer-div3>div{
        width: 100%;
    }
}
